html {
    background-color: #1e1f26;
}

body {
    width: 80%;
    margin: 0 auto;
    background-color: #d0e1f9;
}

a {
    text-decoration: none;
}

#logo {
    width: 25%;
    height: 25%;
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.main_sections {
    padding: 10px;
}

.button_container {
    display: flex;
    margin: auto;
    width: 75%;
    justify-content: space-evenly;
}

.button {
    background-color: #283655;
    color: white;
    padding: 15px;
    border-radius: 10px;
}

#package_container {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
}

.package {
    background-color: #4d648d;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    color: white;
}