html {
    background-color: #1e1f26;
}

body {
    width: 80%;
    margin: 0 auto;
    background-color: #d0e1f9;
    cursor: url(../cursor.cur), auto;
}

a {
    text-decoration: none;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

#logo {
    width: 25%;
    height: 25%;
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.main_sections {
    padding: 10px;
}

.text_regular {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

#disclaimer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.gallery_container {
    display: flex;
    width: 75%;
    margin: auto; 
    justify-content: center;
    padding:15px;
}

.gallery {
    width: 50%;
    height: 50%;
}

.prev {
    background-color: #283655;
}

.next {
    background-color: #283655;
}

.button_container {
    display: flex;
    margin: auto;
    width: 75%;
    justify-content: space-evenly;
}

.button {
    background-color: #283655;
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#package_container {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
}

.package {
    background-color: #4d648d;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    color: white;
}